<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.mapper.TestDTOMapper" >
  <resultMap id="BaseResultMap" type="com.dao.entity.TestDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dao.entity.TestDTO" extends="BaseResultMap" >
    <result column="TestSet" property="testset" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID
  </sql>
  <sql id="Blob_Column_List" >
    TestSet
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from test
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from test
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dao.entity.TestDTO" >
    insert into test (ID, TestSet)
    values (#{id,jdbcType=BIGINT}, #{testset,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dao.entity.TestDTO" >
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="testset != null" >
        TestSet,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="testset != null" >
        #{testset,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dao.entity.TestDTO" >
    update test
    <set >
      <if test="testset != null" >
        TestSet = #{testset,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dao.entity.TestDTO" >
    update test
    set TestSet = #{testset,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>