<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.mapper.TmQuestionSetMapper" >
  <resultMap id="BaseResultMap" type="com.entity.TmQuestionSet" >
    <id column="QUESTION_ID" property="questionId" jdbcType="VARCHAR" />
    <result column="QUSETION_DESC" property="qusetionDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    QUESTION_ID, QUSETION_DESC
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.entity.example.TmQuestionSetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tm_question_set
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tm_question_set
    where QUESTION_ID = #{questionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tm_question_set
    where QUESTION_ID = #{questionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.entity.example.TmQuestionSetExample" >
    delete from tm_question_set
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.entity.TmQuestionSet" >
    insert into tm_question_set (QUESTION_ID, QUSETION_DESC)
    values (#{questionId,jdbcType=VARCHAR}, #{qusetionDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.TmQuestionSet" >
    insert into tm_question_set
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        QUESTION_ID,
      </if>
      <if test="qusetionDesc != null" >
        QUSETION_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="qusetionDesc != null" >
        #{qusetionDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.entity.example.TmQuestionSetExample" resultType="java.lang.Integer" >
    select count(*) from tm_question_set
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tm_question_set
    <set >
      <if test="record.questionId != null" >
        QUESTION_ID = #{record.questionId,jdbcType=VARCHAR},
      </if>
      <if test="record.qusetionDesc != null" >
        QUSETION_DESC = #{record.qusetionDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tm_question_set
    set QUESTION_ID = #{record.questionId,jdbcType=VARCHAR},
      QUSETION_DESC = #{record.qusetionDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.TmQuestionSet" >
    update tm_question_set
    <set >
      <if test="qusetionDesc != null" >
        QUSETION_DESC = #{qusetionDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where QUESTION_ID = #{questionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.TmQuestionSet" >
    update tm_question_set
    set QUSETION_DESC = #{qusetionDesc,jdbcType=VARCHAR}
    where QUESTION_ID = #{questionId,jdbcType=VARCHAR}
  </update>
</mapper>