<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.mapper.TmTestSetMapper" >
  <resultMap id="BaseResultMap" type="com.entity.TmTestSet" >
    <id column="TEST_ID" property="testId" jdbcType="VARCHAR" />
    <result column="QUESTION_ID" property="questionId" jdbcType="VARCHAR" />
    <result column="TEST_INPUT" property="testInput" jdbcType="VARCHAR" />
    <result column="TEST_OUTPUT" property="testOutput" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TEST_ID, QUESTION_ID, TEST_INPUT, TEST_OUTPUT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.entity.example.TmTestSetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tm_test_set
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tm_test_set
    where TEST_ID = #{testId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tm_test_set
    where TEST_ID = #{testId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.entity.example.TmTestSetExample" >
    delete from tm_test_set
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.entity.TmTestSet" >
    insert into tm_test_set (TEST_ID, QUESTION_ID, TEST_INPUT, 
      TEST_OUTPUT)
    values (#{testId,jdbcType=VARCHAR}, #{questionId,jdbcType=VARCHAR}, #{testInput,jdbcType=VARCHAR}, 
      #{testOutput,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.TmTestSet" >
    insert into tm_test_set
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="testId != null" >
        TEST_ID,
      </if>
      <if test="questionId != null" >
        QUESTION_ID,
      </if>
      <if test="testInput != null" >
        TEST_INPUT,
      </if>
      <if test="testOutput != null" >
        TEST_OUTPUT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="testId != null" >
        #{testId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="testInput != null" >
        #{testInput,jdbcType=VARCHAR},
      </if>
      <if test="testOutput != null" >
        #{testOutput,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.entity.example.TmTestSetExample" resultType="java.lang.Integer" >
    select count(*) from tm_test_set
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tm_test_set
    <set >
      <if test="record.testId != null" >
        TEST_ID = #{record.testId,jdbcType=VARCHAR},
      </if>
      <if test="record.questionId != null" >
        QUESTION_ID = #{record.questionId,jdbcType=VARCHAR},
      </if>
      <if test="record.testInput != null" >
        TEST_INPUT = #{record.testInput,jdbcType=VARCHAR},
      </if>
      <if test="record.testOutput != null" >
        TEST_OUTPUT = #{record.testOutput,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tm_test_set
    set TEST_ID = #{record.testId,jdbcType=VARCHAR},
      QUESTION_ID = #{record.questionId,jdbcType=VARCHAR},
      TEST_INPUT = #{record.testInput,jdbcType=VARCHAR},
      TEST_OUTPUT = #{record.testOutput,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.TmTestSet" >
    update tm_test_set
    <set >
      <if test="questionId != null" >
        QUESTION_ID = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="testInput != null" >
        TEST_INPUT = #{testInput,jdbcType=VARCHAR},
      </if>
      <if test="testOutput != null" >
        TEST_OUTPUT = #{testOutput,jdbcType=VARCHAR},
      </if>
    </set>
    where TEST_ID = #{testId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.TmTestSet" >
    update tm_test_set
    set QUESTION_ID = #{questionId,jdbcType=VARCHAR},
      TEST_INPUT = #{testInput,jdbcType=VARCHAR},
      TEST_OUTPUT = #{testOutput,jdbcType=VARCHAR}
    where TEST_ID = #{testId,jdbcType=VARCHAR}
  </update>
</mapper>